{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- <link href="{% static 'css/material-dashboard.css' %}" rel="stylesheet" /> -->
<section class="section" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <br>
                <h2 class="fw-bold mb-4">MODELS</h2>
                <hr>
                <p class="text-muted mb-5">Et harum quidem rerum facilis est expedita distinctio temporecum soluta nobisest eligendi optio cumque nihil impedit quo minus maxime.</p>
                <div>
                    <form action="{% url 'count' %}">
                        <div class="row">
                            <div class="mb-4 pb-2">
                                <label for="comments" class="text-muted form-label">Message</label>
                                <textarea name="fulltext" id="comments" cols="40" rows="5" class="form-control"
                                    placeholder="Enter message...">
                                </textarea>
                            </div>
                            <button type="submit" value="count" id="submit" name="send" class="btn"
                                style="color: white; background-color: #755FA8">GO
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact us end -->
{% endblock %}
